.app {
  width: 800px;
  min-height: 400px;
  margin: auto;
  padding: 20px;
  background-color: floralwhite;

}

.post-item {
  margin: 10px;
  padding: 20px 12px;
  border: 1px solid darkgrey;
  border-radius: 4px;

  &__content {

  }

  &__title,
  &__description {
    margin: 0 0 10px;
    padding: 0;
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;

  .page-button {
    margin-right: 6px;
    padding: 6px 10px;
    color: darkgray;
    border: 1px solid darkgray;
    cursor: pointer;

    &--active {
      background-color: deepskyblue;
      color: black;
      border: 1px solid black;
    }
  }
}